@{
    ViewData["Title"] = "Ошибка";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded-3 border-0">
                <div class="card-body text-center">
                    <h1 class="display-4 text-danger">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </h1>
                    <h4 class="mb-3">Произошла ошибка</h4>
                    <p class="lead">@TempData["ErrorMessage"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
