@model OnlineShop.Views.ViewModel.Password.ForgotPasswordViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<input type="hidden" id="partialViewType" value="ForgotPassword" />

<p>Введите адрес электронной почты, чтобы получить ссылку для восстановления пароля.</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" id="inputEmailForm" onsubmit="return submitInputEmailForm();">
    <div class="mb-4">
        <label for="loginEmail">Email</label>
        <input asp-for="Email" type="email" class="form-control rounded-3" id="loginEmail" placeholder="name@example.com">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger validation-summary-errors" })
    <button type="submit" class="btn btn-dark w-100 rounded fw-bold btn-recover-pass">
        Восстановить пароль
    </button>
</form>
<button type="button" class="mt-3 btn btn-light w-100 rounded btn-outline-secondary btn-back-to-auth">
    Вернуться к авторизации
</button>




<script>
    // Обработчик клика кнопки "Вернуться к авторизации"
    $(document).on('click', '.btn-back-to-auth', function (e) {
        e.preventDefault();
        resetModalContent();
    });

    function submitInputEmailForm() {
        var form = $("#inputEmailForm");
        $.ajax({
            type: form.attr("method"),
            url: form.attr("action"),
            data: form.serialize(),
            success: function (response) {
                // Вставляем полученное частичное представление в модальное окно
                $('#authModal .modal-body').html(response);

                // Получаем тип представления из скрытого поля
                var partialViewType = $('#authModal .modal-body #partialViewType').val();

                // Меняем заголовок в зависимости от типа представления
                if (partialViewType === "ForgotPassword") {
                    $('#authModal .modal-header-name').text("Забыли пароль?");
                } else if (partialViewType === "ForgotPasswordConfirmation") {
                    $('#authModal .modal-header-name').text("Проверьте почту");
                }
            },
            error: function (xhr) {
                // В случае ошибки сервера, можно отобразить сообщение
                $("#login").html("<div class='text-danger'>Ошибка сервера. Попробуйте позже.</div>");
            }
        });
        return false; 
    }


</script>