@model OnlineShop.Views.ViewModel.Password.ResetPasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <object type="image/svg+xml" data="img/icons.svg" style="display:none;"></object>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a aria-label="Главная страница OnlineShop" title="Главная страница OnlineShop"
                       asp-controller="Product" asp-action="Products">
                        <img src="/img/shop-logo.png" alt="Online Shop Logo">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-sm-8">
                <h3>Новый пароль</h3>
                <p>Придумайте новый пароль и введите его в поле ниже.</p>
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Code" />
                    <div class="mb-3">
                        <label for="newPassword">Новый пароль</label>
                        <input asp-for="Password" type="password" class="form-control rounded-3" id="newPassword" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword">Подтверждение пароля</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control rounded-3" id="confirmPassword" placeholder="Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger validation-summary-errors" })
                    <button type="submit" class="btn btn-dark fw-bold w-100 btn-outline-light">
                        Изменить пароль
                    </button>
                </form>
                <form asp-controller="Product" asp-action="Products" method="get">
                    <button type="submit" class="btn btn-light fw-bold w-100 btn-outline-dark mt-3">
                        Отмена
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>










