@model OnlineShop.Views.ViewModel.CategoryViewModel

<form id="createCategoryForm">
    <div class="mb-4">
        <label asp-for="Name" class="form-label">Название категории:</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>
