<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h3>Бренды</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-success btn-sm">+ Добавить</button>
        </div>
    </div>
    <table id="brandsTable" class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col" class="text-right" style="width: 50px;"></th>
                <th scope="col" class="text-right" style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <div id="notification-container"></div>

</div>


<script>
   
    $(document).ready(function () {
        loadTableData();

        
    });
    
    // Функция для загрузки данных для таблицы
    function loadTableData() {
        $.ajax({
            url: '/Brand/GetAllBrands',
            type: 'GET',
            success: function (data) {
                fillTable(data, 1);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка при получении данных:', error);
                alert('Произошла ошибка при загрузке данных. Пожалуйста, обновите страницу или попробуйте позже.');
            }
        });
    }

    // Функция для заполнения таблицы
    function fillTable(data, startIndex) {
        // Очищаем таблицу перед заполнением новыми данными
        $('#brandsTable tbody').empty();
        // Заполняем таблицу данными
        $.each(data, function (index, brand) {
            var row = '<tr><td>' + (startIndex + index) + '</td><td>' + brand.text + '</td>' +
                '<td><img src="img\\edit_24dp.svg" alt="Edit" onclick="editBrand(' + brand.value + ')"></td>' +
                '<td><img src="img\\delete_24dp.svg" alt="Delete" onclick="showDeleteConfirmationModal(' + brand.value + ', \'' + brand.text + '\')"></td></tr>';
            $('#brandsTable tbody').append(row);
        });
    }

    //Функция удаление элемента с таблицы
    function deleteBrand(id) {
        $.ajax({
            url: "/Brand/Delete",
            type: "DELETE",
            data: { id: id },
            success: function (data) {
                console.log("Бренд успешно удален:", data);
                loadTableData();
                showSuccessNotification("Бренд '" + data + "' успешно удален");
            },
            error: function (xhr) {
                // Произошла ошибка удаления
                console.error("Ошибка при удалении бренда:", xhr.responseJSON.errorMessage);
                // Ваша логика обработки ошибки, например, вывод сообщения об ошибке пользователю
                alert("Ошибка при удалении бренда: " + xhr.responseJSON.errorMessage);
            }
        });
    }

    // Функция для отображения уведомления успешного действия
    function showSuccessNotification(message) {
        var notification = `
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <div>${message}</div>
            </div>
        `;

        // Удаляем все существующие уведомления перед добавлением нового
        $('#notification-container').empty();
        // Добавляем уведомление в контейнер
        $('#notification-container').append(notification);
        // Анимация появления
        $('#notification-container').fadeIn();
        // Закрываем уведомление через 3 секунды
        setTimeout(function () {
            $('#notification-container').fadeOut();
        }, 3000);
    }

    // Функция для отображения модального окна перед удалением элемента
    function showDeleteConfirmationModal(id, brandName) {
        
        var modalTitle = document.querySelector('#exampleModal .modal-title');
        var modalBody = document.querySelector('#exampleModal .modal-body');
        
        modalTitle.textContent = 'Подтверждение удаления';
        modalBody.innerHTML = "Вы действительно хотите удалить <strong>" + brandName + "</strong>?";

        // Создаем кнопки "Отмена" и "Да"
        var cancelButton = document.createElement('button');
        cancelButton.setAttribute('type', 'button');
        cancelButton.setAttribute('class', 'btn btn-secondary');
        cancelButton.setAttribute('data-bs-dismiss', 'modal');
        cancelButton.textContent = 'Отмена';

        var confirmButton = document.createElement('button');
        confirmButton.setAttribute('type', 'button');
        confirmButton.setAttribute('class', 'btn btn-danger');
        confirmButton.textContent = 'Да';

        // Очищаем футер модального окна перед добавлением новых кнопок
        var modalFooter = document.querySelector('#exampleModal .modal-footer');
        modalFooter.innerHTML = '';

        // Добавляем кнопки в футер модального окна
        modalFooter.appendChild(cancelButton);
        modalFooter.appendChild(confirmButton);

        // Отображаем модальное окно
        var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
        modal.show();

        

        // Назначаем обработчик события для кнопки "Да"
        confirmButton.onclick = function () {
            deleteBrand(id);
            modal.hide();
        };
    }


    

    

    
</script>

