<!-- Главная страница Админа -->
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <!-- Изменения тут -->
            <!-- Кнопка выпадающего списка вправо по умолчанию -->
            <div class="btn-group dropend mb-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Товары
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" id="loadTable">Список</a></li>
                    <li><a class="dropdown-item" href="#" id="addProduct">Добавить</a></li>
                </ul>
            </div>
            <div class="btn-group dropend mb-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Бренды
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" id="loadBrandsTable">Список</a></li>
                    <li><a class="dropdown-item" href="#" id="addProduct">Добавить</a></li>
                </ul>
            </div>
            <div class="btn-group dropend mb-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Категории
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" id="loadTable">Список</a></li>
                    <li><a class="dropdown-item" href="#" id="addProduct">Добавить</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-8">
            <!-- Изменения тут -->
            <div id="mainContent"></div>
        </div>
    </div>
</div>


 
