@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <object type="image/svg+xml" data="img/icons.svg" style="display:none;"></object>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/lightgallery.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/zoom/lg-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/thumbnail/lg-thumbnail.min.js"></script>

</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Auth -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-3 modal-header-name">Войдите или создайте аккаунт</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <!-- Вкладки (Табы) -->
                    <ul class="nav nav-tabs" id="authTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link nav-link-login-input active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Войти</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link nav-link-login-input" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">Создать аккаунт</button>
                        </li>
                    </ul>

                    <!-- Содержимое вкладок -->
                    <div class="tab-content" id="authTabContent">
                        <!-- Вкладка Войти -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            @await Html.PartialAsync("_LoginForm", new OnlineShop.Views.ViewModel.LoginViewModel())
                        </div>

                        <!-- Вкладка Создать аккаунт -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            @await Html.PartialAsync("_RegisterForm", new OnlineShop.Views.ViewModel.RegisterViewModel())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="container">
        <header class="d-flex justify-content-between py-1 py-md-3 align-items-center">
            <a title="Главная страница OnlineShop" class="" asp-controller="Product"
               asp-action="Products">
                <img src="/img/newLogo.png" alt="Online Shop Logo" class="">
            </a>

            <div class="header-buttons mt-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="btn-group" role="group">
                        <button type="button" class="btn-input" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/user.svg" alt="User Logo" class="user-icon">
                        </button>
                        <span class="user-name mt-1 me-2">
                            @{
                                var userName = User.FindFirst(ClaimTypes.GivenName)?.Value ?? string.Empty;
                            }
                            @userName
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Orders", "Order" )">Мои заказы</a></li>
                            <li><a class="dropdown-item" href="#">Личный кабинет</a></li>
                            <li>
                                <button type="button" id="btn-user-exit" class="rounded fw-bold btn btn-dark">
                                    Выход
                                    <svg width="20" height="20" style="margin-left: auto;" fill="currentColor">
                                        <use xlink:href="/img/icons.svg#icon-exit-user"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <button title="Войти" class="btn-input" data-bs-toggle="modal" data-bs-target="#authModal">
                        <img src="/img/user.svg" alt="User Logo" class="user-icon">
                    </button>
                }
                <a title="Избранное" class="btn-favorite" asp-controller="Favorites" asp-action="Favorites">
                    <img src="/img/favorite_border.svg" alt="Favorite Logo" class="favorite-icon">
                    <span class="badge rounded-pill bg-secondary" id="favorites-count">0</span>
                </a>
                <a title="Корзина" class="btn-cart" asp-controller="Cart" asp-action="Cart">
                    <img src="/img/cart.svg" alt="Cart Logo" class="cart-icon">
                    <span class="badge rounded-pill bg-secondary" id="cart-count">0</span>
                </a>
            </div>
        </header>
    </div>
    <!-- end Header -->
    <!-- Navigation -->
    <div class="container mb-2 mb-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <nav class="category-nav">
                <button class="scroll-left" onclick="scrollCategories(-1)" style="display: none;">
                    <img src="/img/arrow-left.svg" alt="Arrow Left">
                </button>
                <ul class="category-list d-flex" onscroll="toggleArrows()">
                </ul>
                <button class="scroll-right" onclick="scrollCategories(1)" style="display: none;">
                    <img src="/img/arrow-right.svg" alt="Arrow Right">
                </button>
            </nav>
        </div>
    </div>

    <!-- Navigation -->




    <div class="container">
        <div id="notification-container"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



<script>
    $(document).ready(function () {

        loadListCategory();



        // Обработчик открытия модального окна
        const authModal = document.getElementById('authModal');
        authModal.addEventListener('shown.bs.modal', function () {

            // Сбрасываем активную вкладку на "Войти"
            const loginTab = document.getElementById('login-tab');
            if (loginTab) {

                loginTab.click(); // Возвращаемся к вкладке "Войти"
            }

            // Очищаем все формы внутри модального окна
            const forms = authModal.querySelectorAll('form');
            if (forms.length > 0) {
                forms.forEach(form => {
                    form.reset();
                });
            }

            // Очищаем сообщения об ошибках
            const errorMessages = authModal.querySelectorAll('.text-danger');
            errorMessages.forEach(msg => {
                msg.textContent = ''; // Удаляем текст сообщения
                msg.classList.remove('field-validation-error'); // Удаляем класс ошибки, если он есть
            });
        });
    });

    // Обработчик нажатия кнопки "Выход"
    $('#btn-user-exit').click(function () {
        logoutUser();
    });



    function loadListCategory() {
        $.ajax({
            url: '/Category/GetAllCategory',
            type: 'GET',
            success: function (data) {
                fillNavBarListContainer(data);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка при получении данных:', error);
                alert('Произошла ошибка при загрузке данных. Пожалуйста, обновите страницу или попробуйте позже.');
            }
        });
    }

    function fillNavBarListContainer(data) {
        var ul = $('.category-list');

        ul.empty();

        data.forEach(function (item) {

            var li = $('<li>').addClass('category-item');
            var url = '/products?categoryId=' + item.value;
            var a = $('<a>')
                .attr('tabindex', '0')
                .attr('role', 'button')
                .attr('href', url)
                .addClass('link-list-item')
                .text(item.text);
            li.append(a);
            ul.append(li);

        });
        toggleArrows();
    }











    // Обновление счетчика избранного при загрузке страницы
    document.addEventListener("DOMContentLoaded", async function () {
        saveOriginalAuthModal();
        const isAuth = await isAuthenticated();
        updateFavoriteCount(isAuth);
        updateCartCount(isAuth);
    });

    // Обновляем счетчик при изменении избранного (на других страницах через событие)
    document.addEventListener('favoritesUpdated', function () {
        updateFavoriteCount();
    });





</script>