<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>


    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dJ7V6vk8wIyA1xMT2TBn8fYcJ2/euN0+4sMQfIKu2A67RFWYfnAmP07n50zdz+j38cN73Z2MWVq1JzoJOy4lfA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <header class="header">
        <div class="d-none d-md-block"></div> <!-- Пустой блок для выравнивания кнопок -->
        <a aria-label="Главная страница OnlineShop" title="Главная страница OnlineShop" class="btn-main-page mx-auto"
               asp-controller="Product" asp-action="Products">
            <img src="/img/shop-logo.png" alt="Online Shop Logo" class="shop-logo-icon">
        </a>
        <div class="header-buttons d-flex">
            <button aria-label="Страница входа" title="Войти" class="btn-input">
                <img src="/img/user.svg" alt="User Logo" class="user-icon">
            </button>
            <button aria-label="Товаров в избранном: 0." title="Избранное" class="btn-favorite">
                <img src="/img/favorite_border.svg" alt="Favorite Logo" class="favorite-icon">
                    <span class="badge rounded-pill bg-secondary" id="favorites-count">0</span>
            </button>
            <button aria-label="Товаров в корзине: 0." title="Корзина" class="btn-cart">
                <img src="/img/cart.svg" alt="Cart Logo" class="cart-icon">
            </button>
        </div>
    </header>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="nav-container">
                <button class="btn-left" aria-label="Прокрутить к началу меню навигации.">
                    <img src="/img/arrow-left.svg" alt="Arrow Left" class="btn-arrow-left">
                </button>
                <nav class="nav-item-header">
                    <ul aria-label="Для навигации используйте клавиши со стрелками" class="ul-main-content">
                        <!-- Загрузка динамически -->
                    </ul>
                </nav>
                <button class="btn-right" aria-label="Прокрутить к началу меню навигации.">
                    <img src="/img/arrow-right.svg" alt="Arrow Right" class="btn-arrow-right visible">
                </button>
            </div>
            <!-- Блок поиска -->
            <div class="search-section">
                <form role="search" action="" class="search-form">
                    <div class="input-group">
                        <input value=""
                               placeholder="Поиск"
                               class="form-control input-search">
                        <div class="input-group-append">
                            <button aria-label="Поиск" type="submit" class="btn btn-search">
                                <img src="/img/search.svg" alt="Search Icon" class="search-icon">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>

    <div class="container">
        <div id="notification-container"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@ 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .bg-secondary {
        background-color: rgb(0 0 0 / 75%) !important;
    }


</style>


<script>
    $(document).ready(function () {
        loadListCategory();
    });

    function loadListCategory() {
        $.ajax({
            url: '/Category/GetAllCategory',
            type: 'GET',
            success: function (data) {
                fillNavBarListContainer(data);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка при получении данных:', error);
                alert('Произошла ошибка при загрузке данных. Пожалуйста, обновите страницу или попробуйте позже.');
            }
        });
    }

    function fillNavBarListContainer(data) {
        var ul = $('.ul-main-content');
        ul.empty(); // Очищаем существующий список

        data.forEach(function (item) {

            var li = $('<li>').addClass('list-item');
            var url = `http://localhost:5139/shopping/${item.value}/all`;
            var a = $('<a>')
                .attr('tabindex', '0')
                .attr('role', 'button')
                .attr('href', url)
                .addClass('link-list-item')
                .text(item.text);

            li.append(a);
            ul.append(li);

        });
        updateButtons();
    }

    /* ____Стрелки______ */
    const navHeader = document.querySelector('.nav-item-header');
    const ulContent = document.querySelector('.ul-main-content');
    const btnLeft = document.querySelector('.btn-left .btn-arrow-left');
    const btnRight = document.querySelector('.btn-right .btn-arrow-right');

    let scrollAmount = 0;
    const scrollStep = 200;

    function updateButtons() {
        const maxScrollLeft = ulContent.scrollWidth - navHeader.clientWidth;
        btnLeft.classList.toggle('visible', scrollAmount > 0);
        btnRight.classList.toggle('visible', scrollAmount < maxScrollLeft);
    }

    document.querySelector('.btn-left').addEventListener('click', () => {
        if (scrollAmount > 0) {
            scrollAmount -= scrollStep;
            if (scrollAmount < 0) {
                scrollAmount = 0;
            }
            ulContent.style.transform = `translateX(-${scrollAmount}px)`;
        }
        updateButtons();
    });

    document.querySelector('.btn-right').addEventListener('click', () => {
        const maxScrollLeft = ulContent.scrollWidth - navHeader.clientWidth;
        if (scrollAmount < maxScrollLeft) {
            scrollAmount += scrollStep;
            if (scrollAmount > maxScrollLeft) {
                scrollAmount = maxScrollLeft;
            }
            ulContent.style.transform = `translateX(-${scrollAmount}px)`;
        }
        updateButtons();
    });

    window.addEventListener('load', () => {
        const maxScrollLeft = ulContent.scrollWidth - navHeader.clientWidth;
        btnRight.classList.toggle('visible', maxScrollLeft > 0); // Отображаем кнопку, если есть что прокручивать вправо
        updateButtons();
    });


    window.addEventListener('resize', () => {
        const maxScrollLeft = ulContent.scrollWidth - navHeader.clientWidth;
        btnRight.classList.toggle('visible', maxScrollLeft > 0); // Обновляем видимость кнопки при изменении размера экрана
        updateButtons();
    });

    // Обновление счетчика избранного при загрузке страницы
    document.addEventListener("DOMContentLoaded", function () {
        function updateFavoriteCount() {
            const favorites = JSON.parse(localStorage.getItem('favorites')) || [];
            document.getElementById('favorites-count').textContent = favorites.length;
        }

        // Сразу обновляем счетчик при загрузке страницы
        updateFavoriteCount();

        // Обновляем счетчик при изменении избранного (на других страницах через событие)
        document.addEventListener('favoritesUpdated', function () {
            updateFavoriteCount();
        });
    });
</script>