html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*#brandsTable img, #categoriesTable img {
    cursor: pointer;
}*/

table img {
    cursor: pointer;
    max-width: 100%; /* Максимальная ширина изображения */
    max-height: 100%; /* Максимальная высота изображения */
}


#notification-container {
    display: none;
    position: fixed;
    top: 12%; /* Отступ от верхней границы экрана */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto; /* Автоматическая ширина */
    max-width: 90%; /* Максимальная ширина уведомления */
}



