html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}

table img {
    cursor: pointer;
    max-width: 100%; /* Максимальная ширина изображения */
    max-height: 100%; /* Максимальная высота изображения */
}

.custom-spinner {
    width: 1rem;
    height: 1rem;
}



#notification-container {
    display: none;
    position: fixed;
    top: 12%; /* Отступ от верхней границы экрана */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto; /* Автоматическая ширина */
    max-width: 90%; /* Максимальная ширина уведомления */
}

/* Стилизация Header ______________________________________________________________________________________________________*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.header-buttons button {
    background: none;
    border: none;
    margin-left: 10px;
}

.header-buttons img {
    height: 1.8rem;
    width: 1.8rem;
}

.header-buttons button:hover {
    background-color: #f5f5f5;
    color: #727272;
}
.btn-favorite,
.btn-cart {
    text-decoration: none;
}
    .btn-favorite:hover,
    .btn-cart:hover {
        background-color: #f5f5f5;
        color: #727272;
    }

/* Стилизация списка категорий и стрелок */
.nav-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.nav-item-header {
    overflow: hidden; 
    white-space: nowrap;
    flex-grow: 1;
}
.ul-main-content {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease; /* Плавное перемещение */
}
    .ul-main-content li {
        padding: 1rem;
    }
.btn-arrow-right, .btn-arrow-left {
    cursor: pointer;
    display: none;
}
    .btn-arrow-left.visible, .btn-arrow-right.visible {
        display: inline-block;
    }
.nav-container button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 5px;
}
.link-list-item {
    
    color: #222; 
    text-decoration: none; 
}
    .link-list-item:hover {
        color: #5f5f5f; 
    }
.nav-container button:hover {
    background-color: #f5f5f5;
    color: #727272;
}

/*________________Поиск__________________________________*/






/* Стиль чорной кнопки при наведении  */
.btn-continue-shopping:hover,
.btn-recover-pass:hover,
.btn-input:hover,
.btn-register:hover {
    background-color: #727272;
    color: #fff;
}


.btn-reset-pass,
.btn-edit-count {
    color: #222222 !important;
}

    .btn-reset-pass:hover,
    .btn-edit-count:hover {
        color: #727272 !important;
    }

.nav-link-login-input{
    color:black;
}
/* Настройки размера шрифта для разных экранов */
@media (max-width: 1399px) {
    .favorite-text {
            display: none;
        }

        .btn-favorite {
            height: 100%;
        }
    }

    @media (max-width: 768px) {
    }

    @media (max-width: 576px) {
        .btn-favorite {
            margin-top: 5px;
        }
    }
